<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.board.mapper.UserMapper">
	<insert id="insertUser" parameterType="map">
		insert into users values(#{id}, #{password}, #{name})
	</insert>
	
	<select id="selectUser" resultType="User">
		select * from users where id = #{id}
	</select>
	
	<select id="selectAllUser" resultType="User">
		select * from users
	</select>
</mapper>